[class*="col-"] {
   background-color: indigo;
   border: 1px solid rgba(0,0,0, .5);
   margin: 10px 10px 0 0;
   width: 100%;
   height: 40px;
}

@media only screen and (max-width: 768px) { 
   [class*="col-"] {transition: width 3s ease-in;}
   .col-1 {width: 8.33%; height: 50px;}
   .col-2 {width: 16.66%; height: 50px;}
   .col-3 {width: 25%; height: 50px;}
}




/* ------------------------------------------------------------------- */




/* [class*="col-"] { 
   width: 100%
}

@media only screen and (min-width: 600px) {
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
}
@media only screen and (min-width: 768px) {
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
} */

/* ------------------------------------------------------------------- */


@media only screen and (orientacion: landscape){
   [class*="col-"] {background-color: blue}
}


/* ------------------------------------------------------------------- */

div.example {
   color: #fff;
}

@media only screen and (max-width: 600px) {
   div.example {
      display: none;
      transition: display 5s ease-out;
   }
}


/* ------------------------------------------------------------------- */


nav {
   overflow: hidden;
   background-color: #333;
}

nav ul li {
   display: inline;
}
nav ul li a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 20px 10px;
   text-decoration: none;
}

@media only screen and (max-width: 600px) {
   nav ul li a {
      float: none;
      width: 100%;
   }
}



/* ------------------------------------------------------------------- */

.column {
   float: left;
   width: 25%;
   height: 30px;
   background-color: #333;
   margin: 20px;
}

@media screen and (max-width: 992px) {
   .column {
      width: 50%;
   }
}

@media screen and (max-width: 600px) {
   .column {
      width: 100%;
   }
}




/* ------------------------------------------------------------------- */

.row {
   display: flex;
   flex-wrap: wrap;
}
.column {
   flex: 25%;
   padding: 20px;
}

@media screen and (max-width: 992px) {
   .column {
      flex: 50%;
   }
}
@media screen and (max-width: 600px) {
   .row {
      flex-direction: column;
   }
}



/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
